<div class="row">
    <div class="panel-body">
        <div class="alert alert-warning" ng-hide="costos">
            <p>No hay costos en la base de datos...</p>
        </div>


        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Costo seg</th>
                    <th>Costo min</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="costos in costos">
                    <td>{{costos.id}}</td>
                    <td>{{costos.costo_seg}}</td>
                    <td>{{costos.costo_min}}</td>
                    <td>{{costos.fecha}}</td>
                    <td>
                        <span ng-if="costos.status === '1'">
                            <a href="/#/costos">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </span>
                        <span ng-if="costos.status === '0'">
                            <a ng-click="active(costos.id,'1')">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </span>
                    </td>
                    <td>
                        <div class="pull-center action-buttons">
                            <a ng-click="remove(costos.id)" class="trash">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>