<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-ex1-collapse">
            <span class="sr-only">Desplegar navegación</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Andres Bernal</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="#/costos">Costos</a>
                <ul class="nav navbar-nav">
                    <li><a href="#/addCosto">* Añadir Costo</a></li>
                </ul>
            </li>
            <li>
                <a href="#/home">Recargas</a>
                <ul class="nav navbar-nav">
                    <li><a href="#/create">* Añadir Recarga</a></li>
                </ul>
            </li>
            
            <li>
                <a href="#/consumos">Consumos</a>
                <ul class="nav navbar-nav">
                    <li><a href="#/addConsumos">* Añadir consumo</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>